.dad-blog__tagbar {
  background-color: #eaebed;
  /*border: 1px solid red;*/
  width: 100%;
  height: 100%;

  ul {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0 15px 0 15px;
    list-style-type: none;

    li {
      background-color: #eaebed;
      height: inherit;
      border-top: 5px solid #eaebed;
      border-bottom-style: none;
      display: inline-block;

      a {
        background-color: transparent;
        border: 1px solid #eaebed;
        border-bottom-style: none;
        width: inherit;
        height: inherit;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .9rem;
        font-weight: 300;
        color: #9ca4ac;
        transition: all .2s ease-in-out;
      }

      a:hover {
        background-color: #fff;
        color: #333;
      }

      a:active {
        background-color: #fff;
        color: #333;
      }
    }

    /* first-child must be removed for only active */
    li:first-child {
      background-color: #fff;

      a {
        color: #333;
      }
    }
  }
}
